#places
	#place-hero
		h2#quote 在别处
	#places-container
		.rigion(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.09")')
			h2.title
				label 霓虹国最热城市
				a.more 更多城市
			.place-list
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.2309")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
		.rigion(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.12323509")')
			h2.title
				label 泡菜国最热城市
				a.more 更多城市
			.place-list
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.2309")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
		.rigion(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.1232109")')
			h2.title
				label 腐国最热城市
				a.more 更多城市
			.place-list
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name
				.item
					.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.2309")')
					.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
					h3.name name