#rigion
	h2#title this is title 
	h3#subitle this is subtitle
	.place-list.container-fluid
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.2309")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.2309")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=1.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name
		.col-md-4
			.item
				.cover(style!='background-image: url("https://placem.at/places?w=1400&amp;random=0.509")')
				.quote!= '.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote.quote'
				h3.name name